<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://mwilbur.netlify.com">Mike</a>.  A web developer who is on a mission to give young and old the technical skills and motivation to turn ideas into reality and launch their own projects and have some laughs while doing it.
  </p>
  <br />
  <p> 
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag "MW.png", class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mike Wilbur</h2>
      <br />
      <p>
      Mike Wilbur is a web developer with product launch, sales and UAT management experience.  He is an NYU MBA, a CPA and has years of financial and operational experience with public, private and startup companies.
      </p>
    </div>
    <br class="clear" />
  </div>      
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />